@font-family-name: Roboto, Arial, sans-serif;

@font-color-base: #3c4858;
@font-color-white: #ffffff;

@background-color-white: #ffffff;
@background-color-gray: #eff2f7;
@background-color-green: #13ce66;
@background-color-blue: #1fb6ff;

@border-color-light-gray: #c0ccda;
